h1{
    text-align: center;
    margin-bottom: 3vw;
}
form{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    font-size: 1.5vw;
}

.wrapper-main{
    display: flex;
    justify-content: center;
}
img{
    width: 30vw;
}
.wrapper-right{
    display: flex;
    flex-direction: column;
    gap: 3vw;
}
.buttons{
    display: flex;
    margin: 2vw;
    gap: 2vw;

}
button{
    border: royalblue 0.1vw solid;
    background-color: white;
    padding: 0.5vw 1vw;
}
button:hover{
    border: #6cdea6 0.1vw solid;
}
.temp{
    text-align: center;
}








